include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/home
		include ../common/line
		include ../common/services
		include ../common/modal
		include ../common/footer
		
	// END body