section.home
    .wrap
        .side
            .main-title Посмотрите видео
            .subtitle И начните продвигать ваш бизнес и личный аккаунта в Instagram со скидкой -40%
            a(href="#services").btn Хочу скидку
        .side.video
            iframe(width="560" height="315" src="https://www.youtube.com/embed/nQkiMMkHjuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .circle
        .circle--pulse