section.services#services
    .wrap 
        .services__item
            .services__block.services__block--top
                .services__img
                    img(src="img/service01.png", alt="Таргетированная реклама")
                .price
                    .price__new 180$
                    .price__old 300$
                a.btn(href='javascript:void(0)', onclick='sfOpen();') Заказать
                .circle
                .circle--pulse
            .services__block
                .services__title Таргетированная реклама
                p Настроим рекламу, которая поможет вашим менеджерам продавать больше 
                .services__value 
                    .value Объем услуг:
                    ul  
                        li — Создание до 12 рекламных объявлений; 
                        li — Сегментация до 30 типов аудиторий; 
                        li — 4 еженедельных аналитики; 
                        li — План улучшения показателей по окончанию
        .services__item
            .services__block.services__block--center
                .services__img
                    img(src="img/service02.png", alt="Комплексное продвижение в Instagram")
                .price
                    .price__new 600$
                    .price__old 1000$
                a.btn(href='javascript:void(0)', onclick='sfOpen();') Заказать
                .circle
                .circle--pulse
            .services__block
                .services__title Комплексное продвижение в Instagram
                p Упакуем ваш продукт/услугу в Instagram и привлечем клиентов с помощью таргетированной рекламы. 
                .services__value 
                    .value Объем услуг:
                    ul  
                        li — Создание контент-стратегии 
                        li — Проведение фотосъемки  
                        li — Обработка 27 фото и 3 видео 
                        li — Написание 30 текстов
                        li — Создание контент-плана на месяц
                        li — Подключение массфолловинга для привлечения от 1500 подписчиков
                        li — 4 еженедельных аналитики и план улучшения на новый месяц 
        .services__item
            .services__block.services__block--bottom
                .services__img
                    img(src="img/service03.png", alt="Создание Landing Page")
                .price
                    .price__new 750$
                    .price__old 1200$
                a.btn(href='javascript:void(0)', onclick='sfOpen();') Заказать
                .circle
                .circle--pulse
            .services__block
                .services__title Создание Landing Page
                p Разработаем продающий сайт с минимальной конверсией 3% и запустим на него рекламу для привлечения клиентов 
                .services__value 
                    .value Объем услуг:
                    ul  
                        li — Создание структуры Landing Page
                        li — Настройка таргетированной рекламы 
                        li — Написание технического задания для создания вами контента для LP 
                        li — UX/UI стандарты - создание форм захвата кнопок + дизайн LP 
                        li — Тех. настройки (подключение аналитик, pixel-Facebook,CRM-систем)
                        li — 4 еженедельных аналитики + план улучшения на новый месяц 